/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.pure-button.pure-button-primary {
  color: #30363d;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.pure-button-primary:hover {
  background-color: #272e35;
  border-radius: 3px;
  color: #fff;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}
